<!--
This user interface is called from the program interfaceGraphiqueEtAlgoGenerationDonnees.py. 
It allows users to precise parameters for the creation of synthetic data. 
When the user click on "Execute", the interfaceGraphiqueEtAlgoGenerationDonnees.py program will create this fake data.

By Oriane Dermy 09/06/2023
-->

<!DOCTYPE html>
<html>
<head>
    <title>User interface</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>User Interface</h1>
        <form method="post" action="/">
            <div class="form-group">
                <label for="nameAlgo">Algorithm :</label>
                <select class="form-control" id="nameAlgo" name="nameAlgo">
                    <option value="FAST_ML">FAST_ML</option>
                    <option value="GaussianCopula">GaussianCopula</option>
                    <option value="CTGAN">CTGAN</option>
                    <option value="TVAE">TVAE</option>
                    <option value="CopulaGAN">CopulaGAN</option>
                </select>
            </div>
            <div class="form-group">
                <label for="dataPath">Data path (ex : data/real_data/data_Distinction.csv) : </label>
                <input type="text" class="form-control" id="dataPath" name="dataPath" value="default">
            </div>
            <div class="form-group">
                <label for="dataType">Data type :</label>
                <select class="form-control" id="dataType" name="dataType">
                    <option value=".csv">.csv</option>
                    <option value=".json">.json</option>
                </select>
            </div>
            <div class="form-group">
                <label for="column_name">Column name for which you want a column shape representation :</label>
                <input type="text" class="form-control" id="column_name" name="column_name" value="amenities_fee">
            </div>
            <div class="form-group">
                <label for="column_names">Two column names for wich you want a pair plot : </label>
                <input type="text" class="form-control" id="column_names" name="column_names" value="['checkin_date', 'checkout_date']">
            </div>
            <button type="submit" class="btn btn-primary">Execute</button>
        </form>
    </div>
</body>
</html>
